
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap');



/*---------------------------------------------------------------------------------fonts, buttons, colours, nav bar, general----*/ 


body {
    font-family: 'noto sans HK', sans-serif;
}

.text-center {
    text-align: center;
}

.nav-section {
    margin-top: 20px;
}


/*---------------------------------------------------------------------------------Index----*/ 

.background-image {
    height: 100%;
    width: 100%;
    position: relative;
    margin: auto;
}

/*---------------------------------------------------------------------------------Gallery----*/ 



/*---------------------------------------------------------------------------------Explore----*/ 


/*---------------------------------------------------------------------------------Find us----*/ 


#map {
    height: 80%;
    width: 80%;
    position: relative;
    overflow: hidden;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 20rem;
}