
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');



/*---------------------------------------------------------------------------------fonts, buttons, general----*/ 



/*---------------------------------------------------------------------------------Index----*/ 



/*---------------------------------------------------------------------------------Gallery----*/ 



/*---------------------------------------------------------------------------------Explore----*/ 


/*---------------------------------------------------------------------------------Find us----*/ 

#map {
    height: 500px;
    width: 1000px;
    position: relative;
}